<h2>All Flights</h2>
<section id="flights">
  <h3>Flight Number / Airline Name </h3>
  <br>
  <% @flights.each do |flight| %>
    <section id="flight-<%=flight.id %>">
      <h4>Flight number: <%= flight.number %>
      <p>Airline: <%= flight.airline.name %> </p>
    </section>
  <% end %>
  <br>
</section>
