<h1><%= @airline.name %></h1>

<section id="passengers">
  <h3> Passenger List </h3>
  <br>
  <% @airline.passenger_list.each do |passenger_name| %>
    <ul>
      <section id="<%=passenger_name %>">
        <li>Name: <%= passenger_name %> </li>
      </section>
    </ul>
  <% end %>
</section>

<!-- <section id="frequent"> -->
  <!-- <h3> Frequent Fliers </h3> -->
  <%# <% @airline.frequent_list.each do |passenger| %>
    <!-- <ul> -->
      <!-- <li>  passenger.name %> No. Flights:  passenger.flight_count </li> -->
    <!-- </ul> -->
  <%#<% end %>
<!-- </section> -->
